## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import gkey

# Configure gmaps API key
gmaps.configure(api_key=gkey)

In [2]:
# 1. Import the WeatherPy_database.csv file.
#Wasn't reading file correctly so I copied the csv into same directory
city_data_df = pd.read_csv("weatherpy_database.csv")
city_data_df

,Unnamed: 0,city,country,lat,lng,max temp,humidity,cloudiness,wind,description
0,0,NaN,NaN,-78.499983,-39.178206,270.24,96,100,7.57,light snow
1,1,NaN,NaN,-58.327796,50.454728,272.32,92,100,24.17,light snow
2,2,Colònia de Sant Jordi,ES,38.790331,2.712848,287.92,76,0,2.48,clear sky
3,3,NaN,NaN,-45.773869,-30.278067,283.35,92,14,7.86,few clouds
4,4,NaN,NaN,-67.934080,-71.805144,272.07,85,100,12.66,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
1995,1995,NaN,NaN,86.630376,-13.374663,244.31,100,54,3.26,broken clouds
1996,1996,NaN,NaN,74.377659,5.279091,276.33,74,8,7.68,clear sky
1997,1997,NaN,NaN,-72.201192,64.258437,260.59,88,100,6.35,overcast clouds
1998,1998,Lajes,PT,39.186320,-26.634028,287.49,51,100,9.96,overcast clouds
1999,1999,Santa Rita,CO,4.246708,-68.634659,299.40,71,17,2.59,few clouds

In [3]:
#I forgot to change the url for Imperial units so I had to convert from Kelvin to Fahrenheit
#Using the lambda function
city_data_df['max temp'] = city_data_df['max temp'].apply(lambda x: ((x-273.15)*9/5)+32)
city_data_df

,Unnamed: 0,city,country,lat,lng,max temp,humidity,cloudiness,wind,description
0,0,NaN,NaN,-78.499983,-39.178206,26.762,96,100,7.57,light snow
1,1,NaN,NaN,-58.327796,50.454728,30.506,92,100,24.17,light snow
2,2,Colònia de Sant Jordi,ES,38.790331,2.712848,58.586,76,0,2.48,clear sky
3,3,NaN,NaN,-45.773869,-30.278067,50.360,92,14,7.86,few clouds
4,4,NaN,NaN,-67.934080,-71.805144,30.056,85,100,12.66,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
1995,1995,NaN,NaN,86.630376,-13.374663,-19.912,100,54,3.26,broken clouds
1996,1996,NaN,NaN,74.377659,5.279091,37.724,74,8,7.68,clear sky
1997,1997,NaN,NaN,-72.201192,64.258437,9.392,88,100,6.35,overcast clouds
1998,1998,Lajes,PT,39.186320,-26.634028,57.812,51,100,9.96,overcast clouds
1999,1999,Santa Rita,CO,4.246708,-68.634659,79.250,71,17,2.59,few clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you would like for your trip?  '))
max_temp = float(input('What is the maximum temperature you would like for your trip?  '))

What is the minimum temperature you would like for your trip?  70
What is the maximum temperature you would like for your trip?  90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df['max temp'] <= max_temp) &
                                       (city_data_df['max temp'] >= min_temp)]
preferred_cities_df

,Unnamed: 0,city,country,lat,lng,max temp,humidity,cloudiness,wind,description
5,5,NaN,NaN,-5.713848,-1.690380,75.722,78,100,6.64,overcast clouds
8,8,NaN,NaN,9.064329,-37.107004,78.638,73,100,7.50,overcast clouds
9,9,Bouenza Department,CG,-3.935801,14.262481,70.448,97,100,0.57,overcast clouds
11,11,NaN,NaN,-2.391036,85.280515,81.590,72,55,4.54,broken clouds
16,16,NaN,NaN,-19.714314,64.870917,76.946,73,71,9.37,broken clouds
...,...,...,...,...,...,...,...,...,...,...
1985,1985,NaN,NaN,-1.155310,50.275912,81.212,71,57,2.86,light rain
1988,1988,NaN,NaN,-19.798863,86.897598,78.404,84,13,10.53,light rain
1992,1992,Kassala,SD,15.218255,34.799848,72.608,43,0,4.46,clear sky
1994,1994,NaN,NaN,-6.963854,-22.587814,78.530,79,100,9.05,overcast clouds
1999,1999,Santa Rita,CO,4.246708,-68.634659,79.250,71,17,2.59,few clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0     490
city           172
country        172
lat            490
lng            490
max temp       490
humidity       490
cloudiness     490
wind           490
description    490
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()
clean_df = preferred_cities_df.reset_index(drop=True)
clean_df = clean_df.rename(columns = {
    'city':'City',
    'country':'Country',
    'lat':'Lat',
    'lng':'Lng',
    'max temp':'Max Temp',
    'humidity':'Humidity',
    'cloudiness':'Cloudiness',
    'wind':'Wind Speed',
    'description':'Current Description'
})

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bouenza Department,CG,70.448,overcast clouds,-3.935801,14.262481,
1,Lábrea,BR,74.372,overcast clouds,-7.152767,-64.647383,
2,Los Frentones,AR,84.470,broken clouds,-26.652853,-61.478918,
3,Kpandu,GH,79.286,few clouds,7.327372,0.087370,
4,Ouanani,KM,80.672,light rain,-13.179917,44.028091,
5,Margate,ZA,75.794,overcast clouds,-31.178204,30.707618,
6,Cassilândia,BR,71.384,heavy intensity rain,-19.250862,-51.641459,
7,Kita,ML,70.466,few clouds,12.678405,-9.424525,
8,Province du Boulgou,BF,77.288,scattered clouds,11.218663,-0.646994,
9,Tefé,BR,73.688,overcast clouds,-3.196080,-63.898193,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

# 6b. Iterate through the hotel DataFrame.
for index,row in clean_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    params['location'] = f'{lat},{lng}'
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    hotels = requests.get(base_url,params=params).json()

    # 6e. Make request and retrieve the JSON data from the search. 
    try:
        hotel_df.loc[index,'Hotel Name'] = hotels['results'][0]['name']
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    except (IndexError,KeyError):
        print('Hotel not found,skipping...')
        pass

Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...
Hotel not found,skipping...

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[hotel_df['Hotel Name'] != '']
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Province du Boulgou,BF,77.288,scattered clouds,11.218663,-0.646994,Zourma (Village Bissa)
14,Andranomena,MG,74.876,broken clouds,-23.466552,43.855126,villa KOTOBE
22,Kom Ombo,EG,72.608,broken clouds,24.425944,33.053480,مصطفى حجازي و حمادة حلمي
42,San José,CO,71.042,light rain,1.695504,-78.221701,Hotel San Jose
50,Mbutuý,PY,70.898,overcast clouds,-24.988328,-56.252078,LB Vy'aha
54,Ferkessédougou,CI,75.830,scattered clouds,9.632438,-5.211122,Sany’s Immo
59,Ndjolé,GA,73.310,overcast clouds,-0.179237,10.768311,Hotel Kevazingo
61,Minţaqat al Maţār,AE,72.266,clear sky,24.612680,54.676972,Tulip Inn Hotel - AlRahba
70,Boa Vista,BR,80.816,scattered clouds,2.868537,-60.616933,Cruviana Backpackers Hostel
91,Itaguaru,BR,71.024,light rain,-15.787021,-49.816193,Trindade atlético clube
107,Ladário,BR,75.272,overcast clouds,-19.392964,-57.036137,Pousada Arara Azul - Pantanal sul
114,Aguachica,CO,76.460,overcast clouds,8.154304,-73.614439,Hospedaje Mas x Menos
120,Tonantins,BR,74.858,overcast clouds,-2.891430,-67.769616,Hotel Rei Davi
124,Murgūd,IN,70.394,overcast clouds,16.479992,74.048103,Radhanagari Tourism
127,Tacaratu,BR,74.408,overcast clouds,-9.124235,-38.212762,Casa de Pedro
142,Manadhoo,MV,81.320,overcast clouds,5.741522,73.218158,"Sabba Summer Suite , Fodhdhoo Maldives"
165,Departamento de Arauca,CO,76.856,overcast clouds,6.829030,-71.216659,Residencias Panamá
169,Passagem Franca,BR,76.820,broken clouds,-6.159287,-43.758649,Hotel Brasil

In [11]:
# 8a. Create the output File (CSV)
output_data_file = clean_hotel_df.to_csv('WeatherPy_vacation.csv')
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")
clean_hotel_df.head(1)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Province du Boulgou,BF,77.288,scattered clouds,11.218663,-0.646994,Zourma (Village Bissa)

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Weather</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,
                                dissipating=False,max_intensity=300,point_radius=4)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))